*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif{
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-text-color{
    color: #E95A08;
}

.primary-btn{
    background-color: #E95A08;
    color: white;
    height: 50px;
    width: 171px;
    border: none;
}

.dark-1{
    color: #000;
}

.dark-2{
    color: #00000080;
}
.dark-3{
    color: #111111;
}
.flex{
    display: flex;
}



@media screen and (max-width:576px) {
    /* nav bar  */
    header{
        margin-bottom: 50px;
    }
    nav{
        width: 361px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
    }
    .nav-logo img{
        height: 38px;
        width: 63px;
    }
    .nav-cart{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 24px;
        width: 113px;
    }
    .cart-logo{
        height: 24px;
        width: 24px;
        font-size: 24px;
    }
    .cart-price{
        padding: 3px;
        font-size: 18px;
        height: 24px;
        width: 79px;
        
    } 

    /* banner-style */
    .banner{
        height: auto;
        width: 100%;
        text-align: left;
        padding: 15px;
        
    }
    .banner{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-title{
        margin-bottom: 15px;
    }
    .banner-description{
        width: calc(100% - 10px);
        padding: 0 10px;
    }
    .banner img{
        height: 245px;
        width: 100%;
    }

    /* plants section style  */
    .plants{
        height: auto;
        width:calc(100% - 10px);
        text-align: center;
        margin: 10px;
    }

    .section-title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .section-description{
        display: inline-block;
        width: calc(100% - 20px);
        padding: 0 20px;
        margin-bottom: 15px;
    }
    .plant-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        
        gap: 15px;
        width: calc(100% - 15px - 10px);
    }
    .plant-item{
        width: 171px;
        height: 340px;
        flex-direction: column;
        justify-content: space-between;
    }
    .plant-content img{
        height: 196px;
        width: 171px;
    }

    .flower-name , .flower-price{
        font-weight: 600;
        margin-bottom: 10px;
    }













}
