*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif{
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-text-color{
    color: #E95A08;
}

.primary-btn{
    background-color: #E95A08;
    color: white;
}

.dark-1{
    color: #000;
}

.dark-2{
    color: #00000080;
}
.dark-3{
    color: #111111;
}


/* nav bar  */
@media screen and (max-width:576px) {
    nav{
        width: 361px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
    }
    .nav-logo img{
        height: 38px;
        width: 63px;
    }
    .nav-cart{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 24px;
        width: 113px;
    }
    .cart-logo{
        height: 24px;
        width: 24px;
        display: inline-block;
    }
    .cart-price{
        font-size: 20px;
        height: 24px;
        width: 79px;
        display: inline-block;
    } 
}
